* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

a:hover{
    color: #a31101;
}

/* HEADER */

header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #a31101;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar .link{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: #a31101;
    font-size: 1.5rem;
    cursor:  pointer;
    display: none;
}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* slider  */

.first {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background: #112c32;
}

.owl-carousel .item img {
    padding: 60px;
}

.owl-carousel .item img:hover {
    padding: 50px;
}

/* next navigation */

.foodies h1 {
    display: flex;
    position: absolute;
    color: black;
    font-size: 35px;
    line-height: 60px;
    padding: 0 100px;
    font-weight: bold;
}

.header1 .navbar1 ul {
    float: right;
    margin-top: 20px;
    margin-right: 45px;
}

.header1 .navbar1 a {
    color: black;
    font-size: 18px;
    padding: 20px;
    transition: all .5s;
}

.header1 .navbar1 a:hover {
    color: #a31101;
}

/* boxes */
.hr {
    width: 1290px;
    margin-left: 90px;
    margin-top: 50px;
}

.dishes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    width: 300px;
    height: 400px;
    text-align: center;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 20px;
    transition: .5s;
}

.box:hover {
    box-shadow: 0 0 25px #999999;
    background-color: #fff;
}

.box img {
    width: 240px;
    height: 200px;
}

.box h2 {
    font-size: 20px;
    font-size: 300;
    letter-spacing: 2px;
}

.box p {
    font-size: 16px;
    font-size: 200;
    line-height: 30px;
    color: #7a7a7a;
    padding-top: 7px;
}

/* footer section */

footer {
    background-color: rgb(223, 223, 223);
    padding: 70px 0px;
}

footer h1 {
    padding-bottom: 20px;
    padding-left: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: rgb(155, 155, 155);
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col li a {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #808080;
    transition: all 0.3s ease;
}

.footer-col li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footercontainer {
    max-width: 1170px;
    margin: auto;
}

li {
    list-style: none;
}

.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: black;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffff;
}


/* @media (max-width: 1024px) {
    .dishes {
        margin-left: 4px;
        align-items: center;
        justify-content: center;
    }

    .box {
        font-family: 'Roboto', sans-serif;
        margin: 20px;
        width: 200px;
        height: 330px;
        text-align: center;
        box-sizing: border-box;
        padding: 30px;
        border-radius: 20px;
        transition: .5s;
    }

    .box img {
        width: 140px;
        height: 100px;
    }

    .box h2 {
        font-size: 18px;
        font-size: 300;
        letter-spacing: 2px;
    }

    .box p {
        font-size: 16px;
        font-size: 200;
        line-height: 30px;
        color: #7a7a7a;
        padding-top: 7px;
    }

    .hr {
        width: 800px;
    }
} */

@media (max-width: 858px) {

        .navbar .link{
            display: none;
        }
    
        .navbar .toggle_btn{
            display: block;
        }
        .dropdown_menu{
            display: block;
            z-index: 20;
        }

        .owl-carousel .item img {
            z-index: 0;
        }

    .foodies h1 {
        padding: 0 135px;
        font-weight: bold;
    }

    .header1 .navbar1 {
        align-items: center;
        justify-content: center;
        margin-left: 6px;
        padding-top: 30px;
    }

    .header1 .navbar1 a {
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 10px;
        font-weight: 300;
        padding: 13px;
    }

    .hr {
        margin-top: 3px;
        width: 350px;
        margin-left: 22px;
    }

    .dishes {
        display: block;
        margin-left: 25px;
        align-items: center;
        justify-content: center;
    }

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 858px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}